In [1]:
import pandas as pd
import numpy as np

In [19]:
d=pd.read_csv('detection2.csv')
d

      2023-04-04 16:38:38  no detection
0     2023-04-04 16:38:39  no detection
1     2023-04-04 16:38:39  no detection
2     2023-04-04 16:38:40  no detection
3     2023-04-04 16:38:41  no detection
4     2023-04-04 16:38:42  no detection
...                   ...           ...
1819  2023-04-04 17:00:52            []
1820           local time       classes
1821  2023-04-04 17:00:52            []
1822           local time       classes
1823  2023-04-04 17:00:53            []

[1824 rows x 2 columns]

In [20]:
d.loc[23,:]

2023-04-04 16:38:38    2023-04-04 16:38:55
no detection                        mobile
Name: 23, dtype: object